/*font*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300&subset=latin,latin-ext);


/* Reset v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}

/* Framework reset */

div, section, header, footer, article, nav,
ol, ul, li,
dl, dt, dd,
p, h1, h2, h3, h4, h5, h6,
textarea, input, select, label, blockquote, form, fieldset, legend {
  position: relative;
/*  float: left;*/
  width: 100%;
}

input, textarea, select { width: auto; }


a,
input.submit,
input.button,
input[type=submit],
input[type=button]
{ cursor: pointer; }

/* EM calcs:
    16 source:
      12 - 0.75
        11 - 0.92
        14 - 1.167
        16 - 1.333
        100 - 8.333
        20 - 1.667
        22 - 1.833
        24 - 2
        32 - 2.667
        35 - 2.917
      11 - 0.69
*/

/* Colours used:
  RED: #CC0033
*/

/* Hidden text */
.hiddenText {
  text-indent: -9999px;
  overflow: hidden;
  font-size: 0;
}

/* Hidden elements */
.hidden {
  display: none;
}

/* Globals */

a,
a:link,
a:visited {
/*  font-weight: bold;*/
  text-decoration: none;
  cursor: pointer;
/*  color: #000;*/
}



body {
  background: #f2f2f2 url('/img/bg.png') repeat-x;
  color: #666;
  font-size: 1em;
/*  line-height: 1.5;*/
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

/*custom*/
div#wrapper {
	width: 961px;
	margin: 0 auto;	
}


/*sidebar left*/

aside#sidebar {
	width: 241px;
	float: left;
}

h1 {
	width: 241px;
	height: 241px;
	background: url('/img/hns.png') no-repeat;	
}

h1 a {
	padding: 161px 70px 20px;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: #fff;	
}

section.raspored table {
	width: 100%;
	text-align: center;
}

section.raspored table tr td.home {
	text-align: right;
}

section.raspored table tr td.result {
	width: 38px;
}

section.raspored table tr td.guest {
	text-align: left;
}


/*navigation*/
nav#menu {
	width: 720px;
	height: 51px;
	float: left;
}

nav#menu ul li {
	width: 119px;
	height: 33px;
	padding-top: 16px;
	border: 1px solid #808080;
	border-right: 0;
	background: url('/img/nav_bg.png');
	display: inline-block;
	float: left;
	text-align: center;
}

nav#menu ul li:first-child {
	border-left: 0;
}

nav#menu ul li.lang {
	width: 118px;
	border-right: 1px solid #808080;
}

nav#menu ul li a {
	height: auto;
/*	padding-top: 14px;*/
	display: block;
	color: #fff;
	font-weight: 400;
}

nav#menu ul li.lang a {
	display: inline;
}

nav#menu ul li ul {
	display: none;
}

/*main column*/
section.main_home, section.main {
	width: 720px;
	float: left;
}

section.main_home {
	padding-top: 43px;
}

section.main_home aside:first-child {
	width: 121px;
	float: left;
	margin-left: -1px;
	margin-right: -1px;
}

section.main_home aside:first-child ul li {
	height: 121px;
	margin-bottom: -1px;
}

section.main_home aside:first-child ul li.decoration_top {
	height: 147px;
	background: transparent url('/img/slider_top.png') 1px 1px no-repeat;
}

section.main_home aside:first-child ul li.ulaznice {
	margin-bottom: 0;
}

section.main_home aside:first-child ul li.decoration_bottom {
	background: transparent url('/img/slider_bottom.png') no-repeat;
}

section.tabs {
	width: 601px;
	float: left;
}

section.tabs div.ui-tabs-panel {
	width: 599px;
	height: 385px;
	border: 1px solid #999;
}

section.tabs div#aktualno section {
	width: auto;
	height: 337px;
	padding-left: 5px;
	border-bottom: 1px solid #999;
	margin-bottom: 1px;
}

section.tabs div#aktualno section article {
	width: 170px;
	height: 295px;
	margin: 25px 13px 18px;
	float: left;
}

section.tabs div.caption {
	height: 48px;
	margin-top: -1px;
	background: #4d4d4d;
	text-align: right;
}

section.tabs div.caption a {
	vertical-align: middle;
}

section.tabs div.caption img {
	float: none;
}

section.tabs ul {
	margin-top: -1px;
}

section.tabs ul li {
	width: 121px;
	height: 121px;
	margin-right: -1px;
	display: inline-block;
	float: left;
}

section.tabs ul li a {
	height: 121px;
	display: block;
}

section.tabs ul li.tv a {
	background: url('/img/hns_tv.png') no-repeat;
}

section.tabs ul li.galerija a {
	background: url('/img/galerija.png') no-repeat;
}

section.tabs ul li.aktualno a {
	background: url('/img/aktualno.png') no-repeat;
}

section.tabs ul li.reprezentacija a {
	background: url('/img/a_reprezentacija.png') no-repeat;
}

section.tabs ul li.casopis a {
	background: url('/img/hns_casopis.png') no-repeat;
}

section.content {
	width: 599px;
	float: left;	
}

nav#info {
	width: 121px;
	float: left;
}


/*footer*/
footer {
	width: 961px;
	margin: 0 auto;
	clear: both;
	text-align: center;
}