/*font*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300&subset=latin,latin-ext);


/* Reset v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

body {
  line-height: 1.3;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}

/* Framework reset */

div, section, header, footer, article, nav,
ol, ul, li,
dl, dt, dd,
p, h1, h2, h3, h4, h5, h6,
textarea, input, select, label, blockquote, form, fieldset, legend {
/*  position: relative;*/
/*  float: left;*/
/*  width: 100%;*/
}

input, textarea, select { width: auto; }


a,
input.submit,
input.button,
input[type=submit],
input[type=button]
{ cursor: pointer; }

/* EM calcs:
    16 source:
      12 - 0.75
        11 - 0.92
        14 - 1.167
        16 - 1.333
        100 - 8.333
        20 - 1.667
        22 - 1.833
        24 - 2
        32 - 2.667
        35 - 2.917
      11 - 0.69
*/

/* Colours used:
  RED: #CC0033
*/

/* Hidden text */
.hiddenText {
  text-indent: -9999px;
  overflow: hidden;
  font-size: 0;
}

/* Hidden elements */
.hidden {
  display: none;
}

/* Globals */

a,
a:link,
a:visited {
/*  font-weight: bold;*/
  text-decoration: none;
  cursor: pointer;
/*  color: #000;*/
}



body {
  background: #f2f2f2 url('/img/bg.png') repeat-x;
  color: #666;
  font-size: 15px;
/*  line-height: 1.2;*/
  font-family: Arial, sans-serif;
/*  font-weight: 300;*/
}

/*custom*/
div#bg_box {
	width: 100%;
}

div.bg1 {
	background: url('/img/olic_modric.jpg') top center no-repeat;
}

div.bg2 {
	background: url('/img/rakitic_mandzukic.jpg') top center no-repeat;
}

div.bg3 {
	background: url('/img/corluka_simunic.jpg') top center no-repeat;
}


div#wrapper, div#wrapper_home {
	width: 961px;
	margin: 0 auto;
	position: relative;
}

div#wrapper {
	background: url('/img/wrapper_bg.png') repeat-y;
}


/*sidebar left*/
aside#sidebar {
	width: 241px;
	float: left;
}

#wrapper_home aside#sidebar {
	background: #fff;
}

aside#sidebar header h1 {
	width: 241px;
	height: 241px;
	margin: 0 -1px -1px 0;
	background: url('/img/hns.png') no-repeat;
	position: relative;
	z-index: 10;
}

aside#sidebar header h1 a {
	padding: 161px 70px 20px;
	line-height: 1;
	font-size: 20px;
	font-weight: 400;
	font-family: Oswald, sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: #fff;
}

section.raspored {
	width: 239px;
	height: 119px;
	margin-bottom: -1px;
	border: 1px solid #999;
	position: relative;
	font-family: Oswald, sans-serif;
	font-weight: 400;
	background: url('/img/results_bg.png') no-repeat;
}

section.raspored table.results {
	width: 239px;
}

section.raspored table.results th, section.raspored table.zoom th {
	height: 18px;
	padding: 10px 0 8px 61px;
	font: 16px Oswald, sans-serif;
	font-weight: 400;
	color: #005ca8;
	text-align: left;
}

section.raspored table.results tr {
	background: url('/img/results_splitter.png') top center no-repeat;
}

section.raspored table.results tr td {
	width: 100px;
	padding: 2px 0 1px;
}

section.raspored table.results tr td.home {
	text-align: right;
	font-size: 12px;
	color: #4d4d4d;
}

section.raspored table.results tr td.result {
	width: 39px;
	text-align: center;
	color: #005ca8;
	font-size: 12px;
}

section.raspored table.results tr td.guest {
	text-align: left;
	font-size: 12px;
	color: #4d4d4d;
}

section.raspored table.zoom {
	width: 361px;
	height: 241px;
	border: 1px solid #999;
	position: absolute;
	left: -1px;
	top: -1px;
	font-family: Oswald, sans-serif;
	font-weight: 400;
	background: url('/img/zoom_bg.png') no-repeat;
}

section.raspored table.zoom tr:nth-last-of-type(even) td {
	padding: 0 44px 0 26px;
}

section.raspored table.zoom tr:nth-of-type(even) {
	background: url('/img/results_splitter_zoom.png') 9px 0 no-repeat;
}

section.raspored table.zoom tr td.home {
	width: 100px;
	height: 18px;
	padding-left: 26px;
	text-align: right;
	font-size: 16px;
	color: #4d4d4d;
}

section.raspored table.zoom tr td.result {
	width: 50px;
	height: 18px;
	text-align: center;
	color: #005ca8;
	font-size: 16px;
}

section.raspored table.zoom tr td.guest {
	width: 100px;
	height: 18px;
	padding-right: 84px;
	text-align: left;
	font-size: 16px;
	color: #4d4d4d;
}

section.raspored table.zoom tr:nth-of-type(odd) {
	font: 12px Arial, sans-serif;
	color: #666;
}

section.raspored table.zoom tr:nth-of-type(odd) td time {
	display: inline-block;
}

section.raspored table.zoom tr:nth-of-type(odd) td small {
	display: inline-block;
	padding: 0 8px;
	margin: 0 8px;
	border-left: 1px solid #4d4d4d;
	border-right: 1px solid #4d4d4d;
}

section.raspored table.zoom tr:nth-of-type(odd) td span {
	font-weight: bold;
}


section.raspored table.zoom tr.close td {
	position: relative;
}

section.raspored table.zoom tr.close td p {
	width: 18px;
	height: 18px;
/*	margin: 12px;*/
/*	float: right;*/
	background: url('/img/plus.png') no-repeat;
	position: absolute;
	bottom: 7px;
	right: 8px;
}

section.raspored table.zoom tr.close td p a {
	width: 18px;
	height: 18px;
	display: block;
}

section.raspored table.zoom tr.close td p:hover {
	cursor: pointer;
}

section.shop_timeline img {
	border: 1px solid #999;
	margin-bottom: -1px;
}

section.shop_timeline ul li.hns-shop {
	height: 120px;
}

section.vatreni {
	margin-bottom: -1px;
	clear: both;
/*	border: 1px solid #999;*/
}

section.vatreni img.vatreni {
	margin: -1px -1px 0 0;
	border: 1px solid #999;
	float: left;
	width: 79px;
	height: 79px;
}

section.vatreni div {
	width: 79px;
	height: 79px;
	border: 1px solid #999;
	margin: -1px -1px 0 0;
	float: left;
	overflow: hidden;	
}

section.vatreni ul li a img {
	float: left;
}

section.vatreni ul li.member a img {
/*	border: 1px solid #999;*/
/*	margin: -1px -1px 0 0;*/
}

section.fb {
	margin-top: -1px;
	margin-bottom: -1px;
	clear: both;
	line-height: 1;
}

section.twitter {
	width: 215px;
	height: 324px;
	padding: 12px;
	border: 1px solid #999;
	background: url('/img/twitter_bg.png') no-repeat;
}

section.twitter div#tweet {
/*	position: relative;*/
}

section.twitter h3 {
	width: 100%;
	height: 57px;
	margin-top: -13px;
	background: url('/img/twitt_separator.png') bottom center no-repeat;
}

section.twitter h3 img {
	float: left;
	margin-top: -7px;
	margin-right: 14px;
	vertical-align: middle;
}

section.twitter h3 a {
	font: 17px Oswald, sans-serif;
	font-weight: 400;
	color: #005ca8;
}

section.twitter ul#twitterUpdate {
	height: 228px;
	margin-top: -15px;
	margin-bottom: 8px;
	overflow: hidden;
	background: url('/img/twitt_separator.png') bottom center no-repeat;
}

section.twitter ul#twitterUpdate li {
	padding: 8px 0 10px;
	font: 12px Arial, sans-serif;
	background: url('/img/twitt_separator.png') bottom center no-repeat;
}

section.twitter ul#twitterUpdate li a {
	color: #005ca8;
}

section.twitter ul#twitterUpdate li p {
	margin: 0 0 0.8em;
}

section.twitter ul#twitterUpdate li small {
	font-size: 10px;
	color: #808080;
	display: inline-block;
	clear: both;
}



/*navigation*/
nav#menu {
	width: 720px;
	height: 51px;
	float: left;
	position: relative;
}

nav#menu ul li {
	width: 119px;
	height: 49px;
/*	padding-top: 16px;*/
/*	padding-bottom: 16px;*/
	border: 1px solid #808080;
	border-left: 0;
	background: url('/img/nav_bg.png');
	display: inline-block;
	float: left;
	text-align: center;
}

nav#menu ul li:first-child {
	border-left: 0;
}

nav#menu ul li.lang {
/*	font: 12px Oswald, sans-serif;*/
/*	font-weight: 400;*/
/*	width: 118px;*/
/*	border-right: 1px solid #808080;*/
}

nav#menu ul li a {
	height: 35px;
	padding-top: 14px;
	display: block;
	color: #fff;
	font-family: Oswald, sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
}

nav#menu ul li.lang a {
	height: 14px;
	margin-top: 18px;
	padding-top: 0;
	font-size: 12px;
	color: #fff;
}

nav#menu ul li.lang:hover {
	background: url('/img/nav_bg.png');
}

nav#menu ul li.lang a {
	display: inline-block;
}

nav#menu ul li.lang a:hover, nav#menu ul li.lang a.active {
	text-decoration: underline;
}

nav#menu ul li.lang a.hr {
	color: #e31f0e;
	padding-right: 4px;
	border-right: 2px solid #fff;
}

nav#menu ul li.lang a.en {
	color: #005ca8;
	padding-left: 4px;
}

nav#menu ul li ul {
	display: none;
}

nav#menu ul li:hover {
	background: #4d4d4d;
}

nav#menu ul li:hover section {
	width: 720px;
	background: #4d4d4d;
	left: 0;
	position: absolute;
	box-shadow: 0px 5px 5px 1px #666;
	-webkit-box-shadow: 0px 5px 5px 1px #666;
	z-index: 999;
}

nav#menu ul li:hover ul {
	width: 240px;
	padding: 15px 0;
	border: 0;
	display: inline-block;
	background: #4d4d4d;
	float: left;
	z-index: 1000;
	overflow: hidden;
}

nav#menu ul li:hover ul li {
	width: 100%;
	padding: 6px 25px;
	text-align: left;
	border: 0;
	background: #4d4d4d;
}

nav#menu ul li:hover ul li a {
	height: auto;
	padding: 0;
	display: inline;
}

nav#menu ul li:hover ul li small {
	display: block;
	font-size: 12px;
	color: #999;
}

/*nav#menu ul li:hover ul li.press ul li {
	height: 312px;
}*/

form#register  {
	width: 365px;
	float: left;
}

form#login {
	width: 241px;
	float: left;
}





/*main column*/
section.main_home, section.main {
	width: 720px;
	float: left;
}

section.main_home {
	padding-top: 43px;
}

section.main_home aside:first-child {
	width: 119px;
	float: left;
}

section.main_home aside ul li {
	width: 119px;
	height: 119px;
/*	margin-bottom: -1px;*/
	border-bottom: 1px solid #999;
}

section.main_home aside:first-child ul li.decoration_top {
	height: 146px;
	background: transparent url('/img/slider_top.png') no-repeat;
}

section.main_home aside:first-child ul li.ulaznice {
	margin-bottom: 0;
}

section.main_home aside:first-child ul li.decoration_bottom {
	background: transparent url('/img/slider_bottom.png') no-repeat;
}

section.tabs {
	width: 601px;
	float: left;
}

section.tabs div.tab_content {
	width: 599px;
	height: 385px;
	border: 1px solid #999;
	overflow: hidden;
	line-height: 0;
}

section.tabs div.ui-tabs-panel {
/*	width: 599px;
	height: 385px;
	border: 1px solid #999;*/
}

section.tabs div.ui-tabs-panel a img {
/*	float: left;*/
}

section.tabs div#aktualno section {
	width: auto;
	height: 337px;
	padding-left: 5px;
	border-bottom: 1px solid #999;
/*	margin-bottom: 1px;*/
	background: url(/img/aktualnosti_slider_bg.png) no-repeat;
}

section.tabs div#aktualno section article {
	width: 170px;
	height: 295px;
	margin: 25px 13px 18px;
	float: left;
	line-height: 1.3;
}

section.tabs div#aktualno section article p {
	margin: 0.8em 0;
	font: 12px Arial, sans-serif;
	color: #4d4d4d;
}

section.tabs div#aktualno section article p.more {
	text-align: right;
}

section.tabs div#aktualno section article p.more a {
	font: 14px Arial, sans-serif;
	color: #005ca8;
	text-decoration: underline;
}

section.tabs div#aktualno section article h3 a {
	font: 21px/26px Oswald, sans-serif;
	color: #005ca8;
}


section.tabs div#casopis br { clear: both; }
section.tabs div#casopis .cntSeparator {
        font-size: 54px;
        margin: 10px 7px;
        color: #000;
        margin-top:40px;
      }
section.tabs div#casopis .desc { margin: 7px 3px 0 45px; }
section.tabs div#casopis .desc div {
        float: left;
        font-family: Arial;
        width: 106px;
        margin-right: 29px;
        margin-top:10px;
        font-size: 13px;
        color: #666;
      }
section.tabs div#casopis p {font-family: Oswald; margin:0; padding:40px;text-align:center;font-size:21px;clear:both;}
section.tabs div#casopis .redHr {color:#C13F20;}
section.tabs div#casopis .bluHr {color:#345DA4;}
section.tabs div#casopis div#brojac {background:white;height:337px;background:url(http://www.hns-cff.hr/img/aktualnosti_slider_bg.png);}


section.tabs div.caption {
	width: auto;
	height: 25px;
/*	margin-top: -1px;*/
	padding-top: 23px;
	padding-right: 17px;
	background: #4d4d4d;
	text-align: right;
	font-size: 14px;
	color: #ccc;
}

section.tabs div#hns-tv div.caption {
	height: 43px;
	padding-top: 5px;
}

section.tabs div.caption a {
	vertical-align: middle;
	font-size: 17px;
	font-family: Oswald, sans-serif;
	color: #ccc;
}

section.tabs div.caption img {
	margin: 0 0 0 13px;
	float: none;
	vertical-align: middle;
}

section.tabs ul {
	margin-top: -1px;
}

section.tabs ul li {
	width: 121px;
	height: 121px;
	margin-right: -1px;
	display: inline-block;
	float: left;
}

section.tabs ul li a {
	height: 121px;
	display: block;
}

section.tabs ul li.tv a {
	background: url('/img/hns_tv.png') no-repeat;
}

section.tabs ul li.galerija a {
	background: url('/img/galerija.png') no-repeat;
}

section.tabs ul li.aktualno a {
	background: url('/img/aktualno.png') no-repeat;
}

section.tabs ul li.reprezentacija a {
	background: url('/img/a_reprezentacija.png') no-repeat;
}

section.tabs ul li.casopis a {
	width: 119px;
	height: 119px;
	border: 1px solid #999;
	background: url('/img/brojac.png') no-repeat;
}

section.main_home section.content {
	width: 599px;
	float: left;
	clear: left;
	background: #fff url('/img/content_top_bg.png') no-repeat;
}

div.content_bottom_bg {
	width: 660px;
	height: 100px;
	background: #fff url('/img/content_bottom_bg.png') bottom left no-repeat;
	clear: both;
}

section.main_home section.content article {
	width: 563px;
	padding: 18px;
	padding-left: 14px;
	background: url('/img/article_splitter.png') no-repeat bottom center;
	clear: both;
	display: block;
}



section.main_home section.content h2/*,
section.main section.actualities h2*/ {
	font-family: Oswald, sans-serif;
	font-size: 40px;
	padding: 18px;
	margin-bottom: 0 !important;
	color: #e31f0e;
	background: url('/img/article_splitter.png') no-repeat bottom center;
}

section.main_home section.content time,
section.main section.actualities time {
	width: 108px;
	font-family: Oswald, sans-serif;
	font-size: 21px;
	text-align: center;
	color: #999;
	float: left;
	font-weight: 300;
	display: inline-block;
}

section.main section.actualities time {
	width: 90px;
}

section.main_home section.content article:nth-of-type(1) time,
section.main section.actualities article:nth-of-type(1) time, section.main_home section.content article:nth-of-type(2) time,
section.main section.actualities article:nth-of-type(2) time {
/*	width: 80px;*/
/*	padding: 0 14px;*/
	font-size: 36px;
/*	word-wrap:break-word;*/
}

section.main_home section.content h3,
section.main section.actualities h3 {
	width: 465px;
	font-family: Oswald, sans-serif;
	font-size: 21px;
	color: #005ca8;
	margin-left: 108px;
/*	float: right;*/
}

section.main_home section.content article:nth-of-type(1) h3,
section.main section.actualities article:nth-of-type(1) h3, section.main_home section.content article:nth-of-type(2) h3,
section.main section.actualities article:nth-of-type(2) h3 {
	font-size: 36px;
}

section section.content h3 a,
section.main section.actualities a {
	color: #005ca8;
}

section.main_home section.content p,
section.main section.actualities p {
	width: 465px;
	font-size: 14px;
	color: #666;
	margin-left: 108px;
}

section.main_home section.content p.all_news,
section.main section.actualities p.all_news {
	width: auto;
	margin-left: 0;
	padding: 18px;
	text-align: right;
}

section.main_home section.content p.all_news a,
section.main section.actualities p.all_news a {
	font-size: 14px;
	color: #666;
	text-decoration: underline;
}

nav#info {
	width: 121px;
	float: left;
}

nav#info ul li img {
	margin-top: -1px;
	border: 1px solid #999;
}


/*subpage*/
section.subpage_nav ul li {
	width: 81px;
	height: 81px;
	margin-right: -1px;
	margin-bottom: -1px;
	float: left;
}

section.subpage_nav ul li.hns-shop {
	width: 161px;
}

section.subpage_nav ul li a img {
	float: left;
}

section.subpage_categories {
	padding: 28px 0;
	clear: both;
}

section.subpage_categories h3 {
	font: 22px Oswald, sans-serif;
	color:  #4d4d4d;
	text-align: center;
	background: url('/img/subpages_categories_separator.png') no-repeat bottom center;
}

section.subpage_categories ul {
	width: 195px;
	margin: 0 auto;
	padding: 15px 0;
}

section.subpage_categories ul li {
	padding: 3px 0;
	background: url('/img/subpages_categories_separator.png') no-repeat bottom center;
}

section.subpage_categories ul li a {
	font-size: 14px;
	font-weight: bold; 
	color: #4d4d4d;
}

section.subpage_categories ul li ul {
	width: auto;
	padding: 0;
	margin-left: 12px;
}

section.subpage_categories ul li ul a {
	font-weight: normal;
}

section.subpage_categories ul li ul a.active {
	color: #e31f0e;
}

section.subpage_categories ul li ul li {
	background: none;
}

section.subpage_categories ul li ul li a { /* makni ovo ako sam krivo skuzio */
	text-transform: uppercase;
	color: #005ca8;
}

section.subpage_categories ul li ul li ul {
	margin-left: 23px;
}

section.subpage h3 {
	font: 21px Oswald, sans-serif;
	font-weight: 400;
	color: #005ca8;
}

section.subpage h4 {
	font: 15px Arial, sans-serif;
	font-weight: bold;
	color: #005ca8
}


section.team h3 {
	color: #e31f0e;
}

section.team section.stozer h3 {
	color: #005ca8;
}

section.team ul {
	margin-top: 27px;
}

section.team ul li {
	font: normal 15px Arial, sans-serif;
	background: url('/img/separator-vijesti.png') no-repeat bottom center;
}

section.team ul li a {
	color: #666;
	text-transform: uppercase;
}

section.team ul li:last-of-type {
	margin-bottom: 32px;
	background: none;
}

section.team ul li span.name, section.team ul li span.position {
	display: inline-block;
}

section.team ul li span.name {
	width: 252px;
}

section.team ul li span.position {
	width: 408px;
}



section.fake { /*prazni box za povecat visinu lijevog sidebara*/
	height: 250px;
	clear: both;
}

section.main {
	background: #fff;
}

section.main h2 {
/*	margin: 1.2em 0 0.2em;*/
	margin-bottom: 0.8em;
	font-family: Oswald, sans-serif;
	font-size: 36px;
	color: #005ca8;
}

section.main div.lead {
	font-size: 21px;
	color: #999;
}

section.main header h2 {
	padding-left: 30px;
}

section.main figure.header {
	width: 719px;
	height: 429px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999
}

section.main p {
	margin: 0.75em 0;
}

section.main section.content, section.main section.subpage {
	width: 660px;
	padding: 25px 35px 10px 25px;
	background: #fff url('/img/content_top_bg.png') no-repeat;
}

section.main_news section.content article, section.main section.actualities article  {
/*	width: 693px;*/
/*	padding: 7px 0;*/
	padding: 18px;
	padding-left: 14px;
	background: url('/img/separator-vijesti.png') no-repeat bottom center;
	clear: both;
	display: block;
}

section.main section.actualities article {
	padding-left: 0;
	padding-right: 0;
}

section.main_news section.content h2 {
	font-family: Oswald, sans-serif;
	font-size: 40px;
	padding: 18px;
	color: #e31f0e;
	background: url('/img/article_splitter.png') no-repeat bottom center;
}

section.main_news section.content time {
	width: 108px;
	font-family: Oswald, sans-serif;
	font-size: 21px;
	text-align: center;
	color: #999;
	float: left;
	font-weight: 300;
	display: inline-block;
}

section.main_news section.content h3 {
	width: 552px;
	font-family: Oswald, sans-serif;
	font-size: 21px;
	color: #005ca8;
	margin-left: 108px;
}

section.main_news section.content h3.lead {
	font-size: 36px;
}

section section.content h3 a {
	color: #005ca8;
}

section.main_news section.content p {
	width: 465px;
	font-size: 14px;
	color: #666;
	margin-left: 108px;
}

section.main_news section.content ul.archive li h3 {
	margin-left: 0;
	margin-left: 0;
}

section.main_news section.content ul.archive li h3 time {
	width: 82px;
	text-align: left;
}
/*<-- news*/



/*members*/
section.main figure {
	margin: 0;
	padding: 0;
	position: relative;
}

section.main figure figcaption {
	width: 250px;
/*	margin: -345px 0 0 30px;*/
	font-family: Oswald, sans-serif;
	font-size: 55px;
	color: #005ca8;
	text-transform: uppercase;
	position: absolute;
	top: 105px;
	left: 30px;
  font-weight: 400;
}

section.main figure.news figcaption {
	color: #fff;
	text-shadow: 0 0 10px #000;
}

section.main section.member {
	padding: 30px 30px 10px;
}

section.main section.member dl dt {
	width: 145px;
	float: left;
	font-weight: bold;
}

section.main section.member dl dd {
	width: 550px;
	float: left;
}

section.main section.member h3 {
	clear: both;
	font-size: 22px;
	font-family: Oswald, sans-serif;
	color: #005ca8;
	padding-top: 60px;
}

section.subpage p,
section.subpage ul,
section.subpage ol {
  margin-bottom: 1em;
}

section.content h2 {
	ma
	font-size: 36px;
  font-family: Oswald, sans-serif;
  margin-bottom: 1em;
  color: #005ca8;
}

section.content ul.galleries li {
	width: 300px;
	height: 291px;
	float: left;
}

section.content ul.galleries li:nth-child(odd) {
	margin-right: 40px;
}

section.content ul.galleries li small {
	width: 100%;
	display: inline-block;
	font-size: 14px;
	color: #4d4d4d;
}





/*footer*/
footer {
	width: 961px;
	height: 200px;
	margin: 0 auto;
	clear: both;
	background: url('/img/footer_bg.png') no-repeat;
	position: relative;
	clear: both;
}

footer img.footer_left {
	position: absolute;
	top: -15px;
	left: -75px;
}

footer img.footer_right {
	position: absolute;
	right: -55px;
}

footer ul {
	padding: 0;
	margin: 0;
}

footer section:first-of-type ul {
	width: 816px;
	height: 100px;
	margin: 0 auto;
}

footer ul li {
	height: 100px;
	display: inline-block;
	float: left;
}

footer ul li a {
	height: 100px;
	display: block;
}

footer ul li a.nike {
	width: 163px;
	background: transparent url('/img/nike.png') no-repeat;
}

footer ul li a.nike:hover {
	background: transparent url('/img/nike_on.png') no-repeat;
}

footer ul li a.ouzjsko {
	width: 145px;
	background: transparent url('/img/ozujsko.png') no-repeat;
}

footer ul li a.ozujsko:hover {
	background: transparent url('/img/ozujsko_on.png') no-repeat;
}

footer ul li a.generali {
	width: 160px;
	background: transparent url('/img/generali.png') no-repeat;
}

footer ul li a.generali:hover {
	background: transparent url('/img/generali_on.png') no-repeat;
}

footer ul li a.anicholding {
	width: 152px;
	background: transparent url('/img/anicholding.png') no-repeat;
}

footer ul li a.anicholding:hover {
	background: transparent url('/img/anicholding_on.png') no-repeat;
}

footer ul li a.konzum {
	width: 150px;
	background: transparent url('/img/konzum.png') no-repeat;
}

footer ul li a.konzum:hover {
	background: transparent url('/img/konzum_on.png') no-repeat;
}

footer ul li a.pbz {
	width: 191px;
	background: transparent url('/img/pbz.png') no-repeat;
}

footer ul li a.pbz:hover {
	background: transparent url('/img/pbz_on.png') no-repeat;
}

footer ul li a.bantours {
	width: 163px;
	background: transparent url('/img/bantours.png') no-repeat;
}

footer ul li a.bantours:hover {
	background: transparent url('/img/bantours_on.png') no-repeat;
}

footer ul li a.croatiabus {
	width: 107px;
	background: transparent url('/img/croatiabus.png') no-repeat;
}

footer ul li a.croatiabus:hover {
	background: transparent url('/img/croatiabus_on.png') no-repeat;
}

footer ul li a.hyundai {
	width: 95px;
	background: transparent url('/img/hyundai.png') no-repeat;
}

footer ul li a.hyundai:hover {
	background: transparent url('/img/hyundai_on.png') no-repeat;
}

footer ul li a.iskon {
	width: 103px;
	background: transparent url('/img/iskon.png') no-repeat;
}

footer ul li a.iskon:hover {
	background: transparent url('/img/iskon_on.png') no-repeat;
}

footer ul li a.jamnica {
	width: 99px;
	background: transparent url('/img/jamnica.png') no-repeat;
}

footer ul li a.jamnica:hover {
	background: transparent url('/img/jamnica_on.png') no-repeat;
}

footer ul li a.ledo {
	width: 104px;
	background: transparent url('/img/ledo.png') no-repeat;
}

footer ul li a.ledo:hover {
	background: transparent url('/img/ledo_on.png') no-repeat;
}

footer ul li a.vindija {
	width: 99px;
	background: transparent url('/img/vindija.png') no-repeat;
}

footer ul li a.vindija:hover {
	background: transparent url('/img/vindija_on.png') no-repeat;
}

footer ul li a.cityex {
	width: 191px;
	background: transparent url('/img/cityex.png') no-repeat;
}

footer ul li a.cityex:hover {
	background: transparent url('/img/cityex_on.png') no-repeat;
}














/*gallery*/
#gallery {
    padding: 30px;
    background: #ebebeb;
}

#descriptions {
    position: relative;
    height: 50px;
    background: #EEE;
    margin-top: 10px;
    width: 640px;
    padding: 10px;
    overflow: hidden;
}

#descriptions .ad-image-description {
    position: absolute;
}

#descriptions .ad-image-description .ad-description-title {
    display: block;
}

.ad-gallery {
  width: 719px;
  height: 589px;
  border: 1px solid #999;
}
.ad-gallery.video {
  width: 719px;
  height: 428px;
}
.ad-gallery, .ad-gallery * {
  margin: 0;
  padding: 0;
}
  .ad-gallery .ad-image-wrapper {
    width: 720px;
    height: 429px;
/*    margin-bottom: 10px;*/
    position: relative;
    overflow: hidden;
  }
    .ad-gallery .ad-image-wrapper .ad-loader {
      position: absolute;
      z-index: 10;
      top: 48%;
      left: 48%;
/*      border: 1px solid #CCC;*/
    }
    .ad-gallery .ad-image-wrapper .ad-next {
      position: absolute;
      right: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 100;
    }
    .ad-gallery .ad-image-wrapper .ad-prev {
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 100;
    }
    .ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {
      /* Or else IE will hide it */
      background: url('/img/non-existing.jpg')\9
    }
      .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url('/img/ad_prev.png');
        width: 80px;
        height: 80px;
        display: none;
        position: absolute;
        top: 45%;
        left: 0;
        z-index: 101;
      }
      .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url('/img/ad_next.png');
        width: 80px;
        height: 80px;
        right: 0;
        left: auto;
      }
    .ad-gallery .ad-image-wrapper .ad-image {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 9;
    }
      .ad-gallery .ad-image-wrapper .ad-image a img {
        border: 0;
      }
      .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 7px;
        text-align: left;
        width: 100%;
        z-index: 2;
        background: url('/img/opa75.png');
        color: #000;
      }
      * html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        background: none;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa75.png');
      }
        .ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
          display: block;
        }
  .ad-gallery .ad-controls {
    height: 0;
    display: none;
  }
    .ad-gallery .ad-info {
      float: left;
    }
    .ad-gallery .ad-slideshow-controls {
      float: right;
    }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
        padding-left: 5px;
        cursor: pointer;
      }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
        padding-left: 5px;
        font-size: 0.9em;
      }
    .ad-gallery .ad-slideshow-running .ad-slideshow-start {
      cursor: default;
      font-style: italic;
    }
  .ad-gallery .ad-nav {
    width: 719px;
    height: 159px;
    border-top: 1px solid #999;
    position: relative;
    background: #4d4d4d;
  }
  .ad-nav {
    height: 79px;
  }
    .ad-gallery .ad-forward, .ad-gallery .ad-back {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 10;
    }
    /* IE 6 doesn't like height: 100% */
    * html .ad-gallery .ad-forward, .ad-gallery .ad-back {
      height: 100px;
    }
    .ad-gallery .ad-back {
      cursor: pointer;
      left: 0px;
      top: 0;
      width: 79px;
      height: 79px;
      display: block;
      background: url('/img/ad_scroll_back.png') no-repeat;
    }
    .ad-gallery .ad-forward {
      cursor: pointer;
      display: block;
      width: 79px;
      height: 79px;
      top: 0;
      right: 0px;
      background: url('/img/ad_scroll_forward.png') no-repeat;
    }
    .ad-gallery .ad-nav .ad-thumbs {
      overflow: hidden;
      width: 559px;
      height: 159px;
			text-align: center;
      margin: 0 auto;
/*      border-left: 1px solid #999;*/
/*      border-right: 1px solid #999;*/
      font: 14px Arial, sans-serif;
      color: #fff;
    }
    
    .ad-gallery .ad-nav .ad-thumbs h3 {
    	font: 23px Oswald, sans-serif;
    	font-weight: 400;
    }
      .ad-gallery .ad-thumbs .ad-thumb-list {
        float: left;
        width: 9000px;
        list-style: none;
        height: 79px;
        overflow: hidden;
        margin-bottom: 10px;
      }
        .ad-gallery .ad-thumbs li {
          float: left;
          width: 79px;
          height: 79px;
        }
          .ad-gallery .ad-thumbs li a {
            display: block;
          }
            .ad-gallery .ad-thumbs li a img {
              border: 1px solid #999;
              margin: -1px -1px 0 0;
              display: block;
            }
            .ad-gallery .ad-thumbs li a.ad-active img {
              border: 1px solid #e31f0e;
            }
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}



/*slider*/
ul#slidenav li.activeSlide {margin-top:-17px;z-index:1000;}
.onImage {display:none;}
.ofImage {display:block;}
ul#slidenav li.activeSlide .onImage {display:block;}
ul#slidenav li.activeSlide .ofImage {display:none;}
ul#slidenav {position: relative;}